<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="br.com.process.integration.database.model.data.mapper.test.EntityFourDataMapper">

    <resultMap id="defaultResultMap" type="br.com.process.integration.database.model.data.dto.test.EntityFourData">
        <result column="id" property="id"/>
        <result column="attribute" property="attribute"/>
        <result column="fruit" property="fruit"/>
        <result column="inclusion_date_time" property="inclusionDateTime"/>
        <association property="entityFiveData" javaType="br.com.process.integration.database.model.data.dto.test.EntityFiveData" resultMap="EntityFiveMap" />
        <association property="entityStatusData" javaType="br.com.process.integration.database.model.data.dto.test.EntityStatusData" resultMap="EntityStatusMap" />
    </resultMap>

    <resultMap id="EntityFiveMap" type="br.com.process.integration.database.model.data.dto.test.EntityFiveData">
        <result column="id" property="id"/>
        <result column="factor" property="factor"/>
        <result column="reference" property="reference"/>
    </resultMap>

    <resultMap id="EntityStatusMap" type="br.com.process.integration.database.model.data.dto.test.EntityStatusData">
        <result column="id" property="id"/>
        <result column="ativo" property="ativo"/>
        <result column="name" property="name"/>
        <result column="start_date_time" property="startDateTime"/>
        <result column="status" property="status"/>
    </resultMap>

    <select id="findById" resultMap="defaultResultMap" parameterType="java.lang.Long">
        SELECT * FROM entity_four WHERE id = #{id}
    </select>

    <select id="findAll" resultMap="defaultResultMap">
        SELECT * FROM entity_four
    </select>

</mapper>
