<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="br.com.process.integration.database.model.data.mapper.test.EntityTwoDataMapper">

    <resultMap id="defaultResultMap" type="br.com.process.integration.database.model.data.dto.test.EntityTwoData">
        <result column="id" property="id"/>
        <result column="color" property="color"/>
        <result column="cost" property="cost"/>
        <result column="hex" property="hex"/>
        <result column="inclusion_date" property="inclusionDate"/>
        <association property="entityStatusData" javaType="br.com.process.integration.database.model.data.dto.test.EntityStatusData" resultMap="EntityStatusMap" />
        <association property="entityTreeData" javaType="br.com.process.integration.database.model.data.dto.test.EntityTreeData" resultMap="EntityTreeMap" />
    </resultMap>

    <resultMap id="EntityStatusMap" type="br.com.process.integration.database.model.data.dto.test.EntityStatusData">
        <result column="id" property="id"/>
        <result column="ativo" property="ativo"/>
        <result column="name" property="name"/>
        <result column="start_date_time" property="startDateTime"/>
        <result column="status" property="status"/>
    </resultMap>

    <resultMap id="EntityTreeMap" type="br.com.process.integration.database.model.data.dto.test.EntityTreeData">
        <result column="id" property="id"/>
        <result column="amount" property="amount"/>
        <result column="animal" property="animal"/>
        <result column="indicator" property="indicator"/>
        <result column="local_date" property="localDate"/>
        <result column="local_date_time" property="localDateTime"/>
    </resultMap>

    <select id="findById" resultMap="defaultResultMap" parameterType="java.lang.Long">
        SELECT * FROM entity_two WHERE id = #{id}
    </select>

    <select id="findAll" resultMap="defaultResultMap">
        SELECT * FROM entity_two
    </select>

</mapper>
