server:
  port: 8080
spring:
  hateoas:
    use-hal-as-default-json-media-type: false
  data:
    rest:
      defaultMediaType: application/json       
  datasource:
    url: jdbc:mysql://localhost:3306/root-database?allowPublicKeyRetrieval=true&useSSL=false
    username: anderson
    password: admin
mybatis:
  mapper-locations: classpath:mapper/*.xml	
  jpa:
    hibernate:
      ddl-auto: update
    generate-ddl: false
    show-sql: true
    open-in-view: false