server:
  port: 8080

spring:
  hateoas:
    use-hal-as-default-json-media-type: false
  data:
    rest:
      defaultMediaType: application/json       
  datasource:
    #url: jdbc:mysql://localhost:3306/root-database?allowPublicKeyRetrieval=true&useSSL=false
    url: jdbc:postgresql://localhost:5432/root-database
    username: anderson
    password: admin
    driver-class-name: org.postgresql.Driver

  jpa:
    database-platform: org.hibernate.dialect.PostgreSQLDialect
    hibernate:
      ddl-auto: update
    generate-ddl: true
    show-sql: true
    open-in-view: false

mybatis:
  mapper-locations: classpath:mapper/*.xml