body {
  background-color: #000B40; /* Azul escuro */
  color: #ffffff;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.container {
  max-width: 600px;
  background-color: #ffffff;
  border-radius: 12px;
  padding: 30px;
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.2);
}

h2 {
  font-weight: 600;
  color: #FF6200; /* Laranja Itaú */
  border-bottom: 2px solid #FF6200;
  padding-bottom: 10px;
  margin-bottom: 30px;
}

label {
  font-weight: 500;
  color: #000B40; /* Azul escuro */
}

.form-control,
.form-select {
  background-color: #f8f9fa;
  border: 1px solid #ced4da;
  color: #000;
  border-radius: 8px;
}

.form-select {
  padding: 1px 0px 0px 1px !important;
}

.form-control::placeholder {
  color: #6c757d;
}

.form-check-label {
  color: #000B40; /* Azul escuro */
}

.btn-primary {
  border-radius: 8px;
  background-color: #FF6200; /* Laranja Itaú */
  border-color: #FF6200;
  color: #fff;
  transition: all 0.3s ease;
}

.btn-primary:hover {
  background-color: #e65c00;
  border-color: #cc5200;
}

.btn-check:checked + .btn {
  background-color: #FF6200;
  border-color: #FF6200;
  color: white;
}


