<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="br.com.process.integration.database.model.data.mapper.example.EntityOneDataMapper">

    <resultMap id="defaultResultMap" type="br.com.process.integration.database.model.data.dto.example.EntityOneData">
        <id     column="id_entity_one" property="id"/>
        <result column="age" property="age"/>
        <result column="birth_date" property="birthDate"/>
        <result column="code" property="code"/>
        <result column="height" property="height"/>
        <result column="name" property="name"/>
        <result column="prohibited_date_time" property="prohibitedDateTime"/>
        <association property="entityStatusData" javaType="br.com.process.integration.database.model.data.dto.example.EntityStatusData" resultMap="EntityStatusMap" />
        <association property="entityTwoData" javaType="br.com.process.integration.database.model.data.dto.example.EntityTwoData" resultMap="EntityTwoMap" />
    </resultMap>

    <resultMap id="EntityStatusMap" type="br.com.process.integration.database.model.data.dto.example.EntityStatusData">
        <id     column="id_entity_status" property="id"/>
        <result column="ativo" property="ativo"/>
        <result column="name" property="name"/>
        <result column="start_date_time" property="startDateTime"/>
        <result column="status" property="status"/>
    </resultMap>

    <resultMap id="EntityTwoMap" type="br.com.process.integration.database.model.data.dto.example.EntityTwoData">
        <id     column="id_entity_two" property="id"/>
        <result column="color" property="color"/>
        <result column="cost" property="cost"/>
        <result column="hex" property="hex"/>
        <result column="inclusion_date" property="inclusionDate"/>
        <association property="entityStatusData" javaType="br.com.process.integration.database.model.data.dto.example.EntityStatusData" resultMap="EntityStatusMap" />
        <association property="entityTreeData" javaType="br.com.process.integration.database.model.data.dto.example.EntityTreeData" resultMap="EntityTreeMap" />
    </resultMap>

    <resultMap id="EntityTreeMap" type="br.com.process.integration.database.model.data.dto.example.EntityTreeData">
        <id     column="id_entity_tree" property="id"/>
        <result column="amount" property="amount"/>
        <result column="animal" property="animal"/>
        <result column="indicator" property="indicator"/>
        <result column="local_date" property="localDate"/>
        <result column="local_date_time" property="localDateTime"/>
        <association property="entityFourData" javaType="br.com.process.integration.database.model.data.dto.example.EntityFourData" resultMap="EntityFourMap" />
        <association property="entityStatusData" javaType="br.com.process.integration.database.model.data.dto.example.EntityStatusData" resultMap="EntityStatusMap" />
    </resultMap>

    <resultMap id="EntityFourMap" type="br.com.process.integration.database.model.data.dto.example.EntityFourData">
        <id     column="id_entity_four" property="id"/>
        <result column="attribute" property="attribute"/>
        <result column="fruit" property="fruit"/>
        <result column="inclusion_date_time" property="inclusionDateTime"/>
        <association property="entityFiveData" javaType="br.com.process.integration.database.model.data.dto.example.EntityFiveData" resultMap="EntityFiveMap" />
        <association property="entityStatusData" javaType="br.com.process.integration.database.model.data.dto.example.EntityStatusData" resultMap="EntityStatusMap" />
    </resultMap>

    <resultMap id="EntityFiveMap" type="br.com.process.integration.database.model.data.dto.example.EntityFiveData">
        <id     column="id_entity_five" property="id"/>
        <result column="factor" property="factor"/>
        <result column="reference" property="reference"/>
        <association property="entityStatusData" javaType="br.com.process.integration.database.model.data.dto.example.EntityStatusData" resultMap="EntityStatusMap" />
    </resultMap>

    <select id="findById" resultMap="defaultResultMap" parameterType="java.lang.Long">
        SELECT * FROM entity_one WHERE id_entity_one = #{id}
    </select>

    <select id="findAll" resultMap="defaultResultMap">
        SELECT * FROM entity_one
    </select>

    <select id="countEntitiesByName" resultType="int">
        SELECT COUNT(*) FROM entity_one
        WHERE name LIKE CONCAT('%', #{name}, '%')
    </select>   
    
	<select id="findEntityDataByName" resultMap="defaultResultMap">
		SELECT
			t1.*,
			t2.*,
			t3.*,
			t4.*,
			t5.*
		FROM entity_one t1
			INNER JOIN entity_two t2 ON t2.id_entity_two = t1.id_entity_two
			INNER JOIN entity_tree t3 ON t3.id_entity_tree = t2.id_entity_tree
			INNER JOIN entity_four t4 ON t4.id_entity_four = t3.id_entity_four
			INNER JOIN entity_five t5 ON t5.id_entity_five = t4.id_entity_five
		WHERE t1.name LIKE CONCAT('%', #{name}, '%')
	</select>    

	<select id="findEntityOneByName" resultMap="defaultResultMap">
		SELECT
			t1.*,
			t2.*,
			t3.*,
			t4.*,
			t5.*
		FROM entity_one t1
			INNER JOIN entity_two t2 ON t2.id_entity_two = t1.id_entity_two
			INNER JOIN entity_tree t3 ON t3.id_entity_tree = t2.id_entity_tree
			INNER JOIN entity_four t4 ON t4.id_entity_four = t3.id_entity_four
			INNER JOIN entity_five t5 ON t5.id_entity_five = t4.id_entity_five
		WHERE t1.name LIKE CONCAT('%', #{name}, '%')
		  AND t1.height != #{height}
		
		
	    <if test="sortList != null and sortOrders != null and sortList.size() == sortOrders.size()">
	        ORDER BY 
	        <foreach item="field" index="index" collection="sortList" separator=",">
	            ${field} ${sortOrders[index]}
	        </foreach>
	    </if>
	    	    			
	</select>

    <select id="countFindEntityOneByAll" resultType="int">
        SELECT COUNT(*) 
        	FROM entity_one t1
			INNER JOIN entity_two t2 ON t2.id_entity_two = t1.id_entity_two
			INNER JOIN entity_tree t3 ON t3.id_entity_tree = t2.id_entity_tree
			INNER JOIN entity_four t4 ON t4.id_entity_four = t3.id_entity_four
			INNER JOIN entity_five t5 ON t5.id_entity_five = t4.id_entity_five
	    <where>
	        <if test="code != null">
	            AND t1.code = #{code}
	        </if>
	    </where>			
    </select>   
    
	<select id="findEntityOneByAll" resultMap="defaultResultMap">
		SELECT
			t1.*,
			t2.*,
			t3.*,
			t4.*,
			t5.*
		FROM entity_one t1
			INNER JOIN entity_two t2 ON t2.id_entity_two = t1.id_entity_two
			INNER JOIN entity_tree t3 ON t3.id_entity_tree = t2.id_entity_tree
			INNER JOIN entity_four t4 ON t4.id_entity_four = t3.id_entity_four
			INNER JOIN entity_five t5 ON t5.id_entity_five = t4.id_entity_five
	    <where>
	        <if test="code != null">
	            AND t1.code = #{code}
	        </if>
	    </where>
	    <if test="sortList != null and sortOrders != null and sortList.size() == sortOrders.size()">
	        ORDER BY 
	        <foreach item="field" index="index" collection="sortList" separator=",">
	            ${field} ${sortOrders[index]}
	        </foreach>
	    </if>	    			
		LIMIT #{size} OFFSET #{page}
	</select>
	
</mapper>
