<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="br.com.process.integration.database.domain.mapper.EntityOneDataMapper">

	<!-- ResultMap para EntityTwo -->
	<resultMap id="EntityTwoMap" type="br.com.process.integration.database.domain.model.data.EntityTwoData">
		<result property="id" column="id_entity_two" />
		<result property="color" column="color" />
		<result property="hex" column="hex" />
		<result property="cost" column="cost" />
		<result property="dateInclusion" column="date_inclusion" />
	</resultMap>

	<!-- ResultMap para EntityTree -->
	<resultMap id="EntityTreeMap" type="br.com.process.integration.database.domain.model.data.EntityTreeData">
		<result property="id" column="id_entity_tree" />
		<result property="animal" column="animal" />
		<result property="number" column="number" />
		<result property="value" column="value" />
		<result property="dataLocal" column="data_local" />
		<result property="dataLocalTime" column="data_local_time" />
	</resultMap>

	<!-- ResultMap para EntityFour -->
	<resultMap id="EntityFourMap" type="br.com.process.integration.database.domain.model.data.EntityFourData">
		<result property="id" column="id_entity_four" />
		<result property="fruit" column="fruit" />
		<result property="nutritiou" column="nutritiou" />
		<result property="dateInclusionTime" column="date_inclusion_time" />
	</resultMap>

	<!-- ResultMap para EntityFive -->
	<resultMap id="EntityFiveMap" type="br.com.process.integration.database.domain.model.data.EntityFiveData">
		<result property="id" column="id_entity_five" />
		<result property="object" column="object" />
		<result property="value" column="value" />
	</resultMap>

    <!-- ResultMap Principal -->
    <resultMap id="EntityOneDataMap" type="br.com.process.integration.database.domain.model.data.EntityOneData">
        <id property="id" column="id_entity_one"/>
        <result property="name" column="name"/>
        <result property="age" column="age"/>
        <result property="height" column="height"/>
        <result property="birthDate" column="birth_date"/>
        <result property="prohibited" column="prohibited"/>
        <result property="count" column="count"/>
        <association property="entityTwo" resultMap="EntityTwoMap"/>
        <association property="entityTree" resultMap="EntityTreeMap"/>
        <association property="entityFour" resultMap="EntityFourMap"/>
        <association property="entityFive" resultMap="EntityFiveMap"/>
    </resultMap>
    
    <select id="countEntitiesByName" resultType="int">
        SELECT COUNT(*) FROM entity_one
        WHERE name LIKE CONCAT('%', #{name}, '%')
    </select>   
    
	<select id="findEntityDataByName" resultMap="EntityOneDataMap">
		SELECT
			t1.*,
			t2.*,
			t3.*,
			t4.*,
			t5.*
		FROM entity_one t1
			INNER JOIN entity_two t2 ON t2.id_entity_two = t1.id_entity_two
			INNER JOIN entity_tree t3 ON t3.id_entity_tree = t2.id_entity_tree
			INNER JOIN entity_four t4 ON t4.id_entity_four = t3.id_entity_four
			INNER JOIN entity_five t5 ON t5.id_entity_five = t4.id_entity_five
		WHERE t1.name = #{name}
	</select>    

	<select id="findEntityOneByName" resultMap="EntityOneDataMap">
		SELECT
			t1.*,
			t2.*,
			t3.*,
			t4.*,
			t5.*
		FROM entity_one t1
			INNER JOIN entity_two t2 ON t2.id_entity_two = t1.id_entity_two
			INNER JOIN entity_tree t3 ON t3.id_entity_tree = t2.id_entity_tree
			INNER JOIN entity_four t4 ON t4.id_entity_four = t3.id_entity_four
			INNER JOIN entity_five t5 ON t5.id_entity_five = t4.id_entity_five
		WHERE t1.name LIKE CONCAT('%', #{name}, '%')
		ORDER BY t1.birth_date ASC, t1.name DESC
	</select>


</mapper>